.categories {
	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			background-color: #f9f9f9;
			padding: 1vw 2vw;
			border-radius: 30px;
			margin-top: 15px;
			margin-right: 10px;
			font-weight: bold;
			font-size: clamp(0.5vw, 14px, 6vw);
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				background-color: darken(#f9f9f9, 2%);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
			}
		}
		@media (max-width: 450px) {
			align-items: center;
		}
	}
}
