.root {
	text-align: center;
	padding: 10vw;
	line-height: clamp(2vw, 30px, 6vw);
	h2 {
		font-size: 24px;
	}
	p {
		margin-top: 10px;
	}
}

.link {
	color: #3e3e3e;
	text-decoration: underline;
	&:hover {
		color: #000000;
	}
}
